<ion-view title="글목록">
    <ion-content padding="'true'" class="has-header">
        <ion-list>
            <ion-item menu-close="" href="#/postDetail">아이오닉 크리에이터 소개 - 홍길동</ion-item>
            <ion-item menu-close="">글제목 - 글쓴이</ion-item>
            <ion-item menu-close="">글제목 - 글쓴이</ion-item>
        </ion-list>
        <ion-list></ion-list>
        <div class="spacer" style="width: 300px; height: 253px;"></div>
        <a menu-close="" href="#/addPost" class="button button-positive button-block button-large icon ion-android-add-circle"></a>
        <ion-list></ion-list>
    </ion-content>
</ion-view>