<ion-view title="새글쓰기">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">제목</span>
                <input type="text"
                  ng-model="AddPost.Model.form.title"
                >
            </label>
        </form>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">내용</span>
                <textarea
                  ng-model="AddPost.Model.form.content"
                > </textarea>
            </label>
        </form>
        <a class="button button-positive button-block"
          ng-click="AddPost.createPost();"
        >글쓰기</a>
        <form class="list"></form>
    </ion-content>
</ion-view>
